

.apply-template-page {
  padding: 1em 0em;

}

.apply-template-dropdown {
  max-width: 300px;
  padding-bottom: 1em;
}

.template-items {
  display: flex;
  flex-wrap: wrap;
}

.template-items>div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 15px;
}

.items-title {
  font-size: larger;
  font-weight: 600;
}

.apply-template-page button {
  padding: 10px 20px;
  font-size: larger;
}